<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vuhoangha.com</title>
</head>
<body>
    <script>
        alert("chuc mung {{model.name}} ban trung lo");
    </script>
    <span style="color: pink;">Hello bạn: {{model.name}}</span>
    <Br>
    Giới tính: {{model.gender}}
</body>
</html>